/* Start Variables */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* End Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
*:focus {
    outline: none;
}
html {
    /* direction: rtl; */
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
    margin: 0;;
}
a {
    text-decoration: none;
}
ul {
    list-style: none; 
}
.page-wrapper {
    background-color: #F1F5F9;
}
/* Start Page Header */
.page-header {
    /* box-shadow: 0 0 10px #ddd; */
}
.page-header .search-bar input::before {
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
/* End Page Header */
.page-top {
    height: 100vh;
}
/* Start Sidebar */
.sidebar {
    flex-basis: 250px;
    box-shadow: 0 0 10px #ddd;
}
.sidebar > ul > li:not(:last-child) {
    margin-bottom: 5px;
}
.sidebar > ul > li a {
    display: block;
    padding: 5px 10px;
    transition: 0.3s;
    border-radius: 6px;
}
.sidebar ul li a:hover {
    background-color: #f6f6f6;
}
.sidebar ul li a {
    color: black;
}
.sidebar ul li a i {
    font-size: 18px;
}
.sidebar ul li a span {
    margin-left: 10px;
}
.sidebar ul li a.selected {
    background-color: #f6f6f6;
}
.sidebar ul li ul.branch {
    display: none;
}
.sidebar ul li a:hover + ul.branch {
    display: block;
}
@media (max-width: 767px) {
    .sidebar {
        flex-basis: 50px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .sidebar ul li a {
        text-align: center;
    }
    .sidebar ul li a span {
        display: none;
    }
}
/* End Sidebar */
/* Start Content */
.content {
    margin: 20px 20px 20px;
    overflow: hidden;
}
.content .title-bar {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px #eee;
}
.content .messages .message {
    padding: 10px;
}
.content .messages .type-1 {
    background-color: var(--green-color);
}
/* End Content */
/* Start Home Page */
.home-view .articles .article-box {
    flex-direction: column;
    align-items: flex-end;
}
.home-view .articles .article-box .date {
    top: 5px;
    right: 20px;
}
.home-view .articles .article-box .author {
    bottom: 5px;
    left: 20px;
}
/* End Home Page */
/* Start Login Page */
.login-view {
    min-height: 100vh;
    flex-direction: column;
}
.login-view .logo {

}
.login-view .login-wrapper {
    
}
.login-view .message {
    left: 50%;
    transform: translateX(-50%);
}
.login-view .login {
    width: 350px;
    padding: 30px;
    box-shadow: 0 0 10px #F1F5F9;
}
.login-view .login h2 {
    margin-bottom: 20px;
}
.login-view .login input[type="submit"] {
    margin-right: auto;
    margin-left: auto;
    background-color: var(--blue-color);
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
}
.login-view .login input[type="submit"]:hover {
    background-color: var(--blue-alt-color);
}
/* End Login Page */
/* Start Footer */
.page-footer {
    position: relative;
    z-index: 2;
    /* box-shadow: 0 0 10px #ddd; */
}
/* End Footer */